includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - phpstan-baseline.neon
parameters:
    level: max
    excludePaths:
        - /*/test/*
    ignoreErrors:
        - identifier: missingType.iterableValue
